
.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: auto;
  height: 40vh;
  overflow: hidden;
  border: 1px solid gray;
  background-color: #080020b7;
  border-radius: 20px;
  transition: 0.3s;
 
}



.card:nth-child(3) {
    grid-row: span 2;

    height: 83vh;
    
  }
  
  .card:nth-child(3) p {
    bottom:5%;
    position: absolute;
  }


  
  .card:nth-child(3) h1 {
    bottom: 14%;
    padding: 5px;
    position: absolute;
  }
  
  .card:nth-child(4) {
    grid-column: span 2;
  }
  
  .card:nth-child(4) p {
    max-width: 650px;
    text-align: justify;
  }
  
  .card:nth-child(4) h1 {
    bottom: 30%;
    position: absolute;
  }

  .card:nth-child(1) h1 {

    bottom: 24%;
  }


  /* tablet responsive */

  @media screen and (max-width: 1000px) {

  
    .card:nth-child(3),
    .card:nth-child(4) {
      grid-column: span 3;
      height: 86vh;
    }


  

  
    .card:nth-child(3) .card_title {
      bottom: 25%;
    }
  

  }

  @media screen and (max-width: 1000px) {
    .card:nth-child(1),
    .card:nth-child(2) {
      grid-column: span 3 !important;
    }
  }



